# Types of Operators

In [1]:
"""
1. Arithmatic
2. Assignment
3. Comparison
4. Logical
5. Membership
6. Identity
7. Bitwise
"""

'\n1. Arithmatic\n2. Assignment\n3. Comparison\n4. Logical\n5. Membership\n6. Identity\n7. Bitwise\n'

In [4]:
# arithmatic Operators are used to perform arithmatic operations between variables

# (  +,  -,  *,  /,  %,  **,  //  )

In [5]:
x = 10
y = 20

In [6]:
x + y

30

In [7]:
x - y

-10

In [8]:
x * y

200

In [9]:
x ** y

100000000000000000000

In [10]:
x / y

0.5

In [11]:
x // y

0

In [12]:
x % y

10

In [13]:
# Assignment operators are used to assign values.
"""
       =     x   = 10
      +=     x+  = 10
      -=     x-  = 10
      *=     x*  = 10
      %=     x%  = 10
     **=     x** = 10
     //=     x// = 10
      |=     x|  = 10
      ^=     x^  = 10
      &=     x&  = 10
"""

'\n       =     x   = 10\n      +=     x+  = 10\n      -=     x-  = 10\n      *=     x*  = 10\n      %=     x%  = 10\n     **=     x** = 10\n     //=     x// = 10\n      |=     x|  = 10\n      ^=     x^  = 10\n      &=     x&  = 10\n'

In [33]:
a = 5
a += 5 # a = a + 5
a

10

In [24]:
a **= 5
a

100000

In [35]:
# Comparision operators are used to compare two values
"""
x==y    ==   Equal
x!=y    !=   Not equal
x >y     >   Greater than
x <y     <   Less than
x>=y    >=   Greater than or Equal
x<=y    <=   Less than Equal
"""

'\n    ==   Equal\n    !=   Not equal\n     >   Greater than\n     <   Less than\n    >=   Greater than or Equal\n    <=   Less than Equal\n'

In [55]:
val = 10
num1 = 10

In [56]:
compare = val == num1
compare

True

In [57]:
# Logical operators is contional statements
"""
if
elif
else
"""

'\nif\nelif\nelse\n'

In [58]:
if val == num1:
    print('equal')
elif val == num1:
    print('greater')
else:
    print('smaller')

equal

In [ ]:
# logical operators
"""
and    x>5 and x>10
or     x>5 or x>10
not    x>5 not x>10   or  not(x>5 and x>10)
"""

In [60]:
x = 10
x > 8 and x > 5

True

In [64]:
x > 3 or x > 5

True

In [65]:
not(x > 10 and x > 5)

True

In [ ]:
# Identity Operator are used to compare objects
"""
is
is not
"""

In [66]:
list1 = [10, 20, 30]
list2 = [10,20,30]

In [67]:
x = list1

In [68]:
x is list1

True

In [69]:
list1 is list2

False

In [70]:
list1 is not list2

True

In [ ]:
# mebership operators are used to check if a sequence is present in an object
"""
in
not in
"""

In [71]:
x in list1

False

In [72]:
list1 in list2

False

In [73]:
10 in list1

True

In [75]:
'banana' in list1

False

In [76]:
list1.append('banana')
list1

[10, 20, 30, 'banana']

In [77]:
'banana' in list1

True

In [78]:
list1 in list2

False

In [79]:
list1 not in list2

True

In [80]:
# Bitwise opreators are used to compare binary numbers or values
"""
&   Bitwise AND            Set each bit to 1 if both bits are 1
|   Bitwise OR             Set each bit to 1 if one of the bits is 1
^   Bitwise XOR            Set each bit to 1 if only one of the bits is 1
~   Bitwise NOT            Inverts all bits
<<  Bitwise Left Shift     Shift left by pushing in zeroes from the right and let the leftmost bits fell off
>>  Bitwise Right Shift    Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bit fell off
"""

'\n&  Bitwise AND\n&  Bitwise AND\n\n'

In [81]:
10 & 12

8

In [82]:
10 | 12

14

In [83]:
10 ^ 12

6

In [85]:
10 >> 2

2

In [86]:
10 << 2

40