# Python Data Types

Python Dictionary
Dictionary is an unordered collection of key-value pairs.

It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [13]:
d = {1:'value','key':2}
type(d)
print(type(d))

<class 'dict'>

In [14]:
# We use key to retrieve the respective value. But not the other way around.
d = {1:'value','key':2}
print(type(d))

print("d[1] = ", d[1])

print("d['key'] = ", d['key'])

# Generates error
print("d[2] = ", d[2])

<class 'dict'>
d[1] =  value
d['key'] =  2

KeyError: 2

Conversion between data types

We can convert between different data types by using different type conversion functions like int(), float(), str(), etc.

In [22]:
a = float(5)
print(a)
print(type(a))
b = int(10.6)
print(b)
print(type(b))
c = int(-10.6)
print(c)
print(type(c))

# Conversion to and from string must contain compatible values.
d = float('5')
print(d)
print(type(d))
e = str(25)
print(e)
print(type(e))
print
#f = int(1p)
#print(f)

5.0
<class 'float'>
10
<class 'int'>
-10
<class 'int'>
5.0
<class 'float'>
25
<class 'str'>

In [23]:
# We can even convert one sequence to another.
a = set([1,2,3])
print(a)
print(type(a))
b = tuple({5,6,7})
print(b)
print(type(b))
d = list('hello')
print(d)
print(type(d))

{1, 2, 3}
<class 'set'>
(5, 6, 7)
<class 'tuple'>
['h', 'e', 'l', 'l', 'o']
<class 'list'>

In [24]:
# To convert to dictionary, each element must be a pair:
a = dict([[1,2],[3,4]])
print(a)
print(type(a))

b = dict([(3,26),(4,44)])
print(b)
print(type(b))

{1: 2, 3: 4}
<class 'dict'>
{3: 26, 4: 44}
<class 'dict'>

# Python Type Conversion and Type Casting

Type Conversion
The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

Implicit Type Conversion
Explicit Type Conversion

Implicit Type Conversion
In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

Let's see an example where Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.

In [25]:
a = '555'
print(a)
print(type(a))

555
<class 'str'>

In [16]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

In [16]:
number_integer = 123
number_float = 1.23

sum = number_integer + number_float
print(sum)
print("Datatype of sum: ",type(sum))

124.23
Datatype of sum:  <class 'float'>

In [1]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

Explicit Type Conversion
In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.

This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.

In [18]:
float_number = 1.734 # conver float to integer
integer_number = int(float_number)

print(integer_number)
print(type(integer_number))

1
<class 'int'>

In [20]:
a = '55' # it is string

integer_number = int(a) # convert string to int
float_number = float(a) # convert string to float

print(integer_number)
print(type(integer_number))
print(float_number)
print(type(float_number))

55
<class 'int'>
55.0
<class 'float'>

In [21]:
a = "Hello" # string letter cannot convert a intger

integer_number = int(a) # it is get a error

ValueError: invalid literal for int() with base 10: 'Hello'

In [2]:
# Addition of string and integer using explicit conversion
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

# Python Input, Output and Import

Python Output Using print() function

We use the print() function to output data to the standard output device (screen). We can also output data to a file, but this will be discussed later.

In [6]:
print("I am Kumar")

I am Kumar

In [9]:
a = 5
b = "Hello"
print(a)
print(b)
print(a,b)

5
Hello
5 Hello

In [10]:
age = 25
name = "Kumar"

print("Age is :", age)
print("Name is:",name)

Age is : 25
Name is: Kumar

In [11]:
print("First line \n\n") # \n reprents end of line and start a new line
print("Second line")

First line


Second line

In [3]:
print('This sentence is output to the screen')

This sentence is output to the screen

In [6]:
a = 5
print('The value of a is', a)

The value of a is 5

In [5]:
print(1, 2, 3, 4)
print(1, 2, 3, 4, sep='*')
print(1, 2, 3, 4, sep='#', end='&')

1 2 3 4
1*2*3*4
1#2#3#4&

In [7]:
# Output formatting
x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [8]:
print('I love {0} and {1}'.format('bread','butter'))
print('I love {1} and {0}'.format('bread','butter'))

I love bread and butter
I love butter and bread

In [10]:
print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name = 'Kumar'))

Hello Kumar, Goodmorning

In [15]:
x = 12.3456789
print('The value of x is %3.2f' %x)
print('The value of x is %3.4f' %x)

The value of x is 12.35
The value of x is 12.3457

Python Input
To allow flexibility, we might want to take the input from the user. In Python, we have the input() function to allow this. The syntax for input() is:

In [13]:
name = input("Enter Name :")
print("Hello", name)

Enter Name :kumar
Hello kumar

In [14]:
a = input("Enter Something: ")
print(a)

Enter Something: ff
ff

In [17]:
num = input('Enter a number: ')
print(num)

Enter a number: 2
2

In [18]:
a = '10'
print(a)
print(type(a))
b = int(a)
print(b)
print(type(b))
c = float(a)
print(c)
print(type(c))

10
<class 'str'>
10
<class 'int'>
10.0
<class 'float'>

Python Import
When our program grows bigger, it is a good idea to break it into different modules.

A module is a file containing Python definitions and statements. Python modules have a filename and end with the extension .py.

Definitions inside a module can be imported to another module or the interactive interpreter in Python. We use the import keyword to do this.

In [19]:
import math

In [20]:
import math
print(math.pi)

3.141592653589793

In [21]:
from math import pi
pi

3.141592653589793

In [23]:
import sys
sys.path
['', 
 'C:\\Python33\\Lib\\idlelib', 
 'C:\\Windows\\system32\\python33.zip', 
 'C:\\Python33\\DLLs', 
 'C:\\Python33\\lib', 
 'C:\\Python33', 
 'C:\\Python33\\lib\\site-packages']

['',
 'C:\\Python33\\Lib\\idlelib',
 'C:\\Windows\\system32\\python33.zip',
 'C:\\Python33\\DLLs',
 'C:\\Python33\\lib',
 'C:\\Python33',
 'C:\\Python33\\lib\\site-packages']

# Python Operators

What are operators in python?
Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

For example:
    >>> 2+3
    5

Here, + is the operator that performs addition. 2 and 3 are the operands and 5 is the output of the operation.

Arithmetic operators
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.
Operator	Meaning	Example
+	Add two operands or unary plus	x + y+ 2
-	Subtract right operand from the left or unary minus	x - y- 2
*	Multiply two operands	x * y
/	Divide left operand by the right one (always results into float)	x / y
%	Modulus - remainder of the division of left operand by the right	x % y (remainder of x/y)
//	Floor division - division that results into whole number adjusted to the left in the number line	x // y
**	Exponent - left operand raised to the power of right	x**y (x to the power y)

In [24]:
# Arithmetic operators in Python
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

In [5]:
# + operators
a = 1
b = 2
c = 3.0
result = a + b + c  
print(result)

6.0

In [7]:
# Concatenate of Two Strings
first_name = "Kiruthik"
second_name = "Varshan"

name = first_name + ' ' + second_name
print(name)
print("Name :", name)

Kiruthik Varshan
Name : Kiruthik Varshan

In [8]:
# - operators

a = 12
b = 9

result = a - b
print(result)

3

In [9]:
a = 12.0
b = 9

result = a - b
print(result)

3.0

In [10]:
# * operators

a = 5
b = 14

result = a * b
print(result)

70

In [11]:
result = 1.4 * 5
print(result)

7.0

In [12]:
# multiply string

a = "foo"
b = a * 3
print(b)

foofoofoo

In [13]:
# / operators

a = 14
b = 3

result = a / b
print(result)

4.666666666666667

In [15]:
result = 14.5 / 5
print(result)

2.9

In [14]:
# // operators  ( see the difference this and above)

a = 14
b = 3

result = a // b
print(result)

4

In [16]:
result = 14.5 // 5
print(result)

2.0

In [17]:
# % operators

a = 13
b = 5

result = a % b
print(result)

3

In [18]:
a = 8
b = 2.5

result = a % b
print(result)

0.5

In [19]:
# ** operators

a = 2
b = 5

result = a ** b
print(result)

32

In [20]:
base = 2.5546
power = 6.5344
result = base ** power
print(result)

458.78668896944134

Comparison operators
Comparison operators are used to compare values. It returns either True or False according to the condition.

In [ ]:
# this is True or False statement
    True # here true not function # first letter must be a capital letter
    False # here false not function # first letter must be a capital letter

In [ ]:
# COMAPRISON OPERATORS
# > Greater then
# < Leaa then
# == Equal to
# != Not equal to
# >= Greater then or equal to
# <= Less then or equal to

In [30]:
x = 10
y = 12

print(x > y)       # False
print(x < y)       # True

print(x == y)      # False
print(x == 10)     # True

print(x != y)      # True
print(x != 10)     # False

print(x >= 10)     # True
print(x >= 20)     # False

print(x <= y)      # True
print(x <= 10)     # True

False
True
False
True
True
False
True
False
True
True

In [26]:
x = 10
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

Logical operators

In [ ]:
# LOGICAL OPERATORS
and # both the operands are true
or  # either one of the operands is true
not # both the operands are false

In [31]:
# and operators

# examples
print(True and True)      # True
print(False and True)     # False
print(False and False)    # False

True
False
False

In [33]:
a, b, c = 1, 2, 3
print(b>a and c>a)    # True
print(c>a and c<0)    # False

True
False

In [38]:
# or operators

# examples
print(True or True)      # True
print(False or True)     # True
print(False or False)    # False

True
True
False

In [37]:
a = 1
b = 2
c = 3

print(b>a or c>a)      # True
print(c<0 or c>a)      # True
print(c==4 or b!=2)    # False

True
True
False

In [40]:
# not operators

# examples
print(not True)      # False
print(not False)     # True

False
True

In [ ]:
x = 5
print(not (x != 5))  # True

In [27]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

Bitwise operators
Bitwise operators act on operands as if they were strings of binary digits. They operate bit by bit, hence the name.

For example, 2 is 10 in binary and 7 is 111.

In the table below: Let x = 10 (0000 1010 in binary) and y = 4 (0000 0100 in binary)

Operator	Meaning	Example
&	Bitwise AND	x & y = 0 (0000 0000)
|	Bitwise OR	x | y = 14 (0000 1110)
~	Bitwise NOT	~x = -11 (1111 0101)
^	Bitwise XOR	x ^ y = 14 (0000 1110)
>>	Bitwise right shift	x >> 2 = 2 (0000 0010)
<<	Bitwise left shift	x << 2 = 40 (0010 1000)

Assignment operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. It is equivalent to a = a + 5.

Operator	Example	Equivalent to
=	x = 5	x = 5
+=	x += 5	x = x + 5
-=	x -= 5	x = x - 5
*=	x *= 5	x = x * 5
/=	x /= 5	x = x / 5
%=	x %= 5	x = x % 5
//=	x //= 5	x = x // 5
**=	x **= 5	x = x ** 5
&=	x &= 5	x = x & 5
|=	x |= 5	x = x | 5
^=	x ^= 5	x = x ^ 5
>>=	x >>= 5	x = x >> 5
<<=	x <<= 5	x = x << 5

In [21]:
a = 5
name = "kumar"
print(a * name)

kumarkumarkumarkumarkumar

In [22]:
# = operators

x = 100
x = x + 5

print(x)

105

In [23]:
a,b,c = 5,3.2,'hello'
print(a)
print(b)
print(c)

5
3.2
hello

In [24]:
x = y = z = "kumar"
print(x)
print(y)
print(z)

kumar
kumar
kumar

In [26]:
x = 10
x += 5  # X = X+5
print(x)

15

In [27]:
x = 10
x //= 4  # X = X//4
print(x)

2

Special operators
Python language offers some special types of operators like the identity operator or the membership operator. They are described below with examples.

Identity operators
-is- and -is not- are the identity operators in Python. They are used to check if two values (or variables) are located on the same part of the memory. Two variables that are equal does not imply that they are identical.

Operator	                       Meaning	                                              Example
is	        True if the operands are identical (refer to the same object)	             x is True
is not	    True if the operands are not identical (do not refer to the same object)	 x is not True

In [28]:
# Identity operators in Python
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

Membership operators
-in- and -not in- are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

Operator                    	Meaning	                               Example
in	        True if value/variable is found in the sequence	           5 in x
not in	    True if value/variable is not found in the sequence	     5 not in x

In [29]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

True
True
True
False

In [ ]:
# OPERATOR PRECEDENCE

In [ ]:
# OPERATOR PRECEDENCE LIST
# HERE HOW WORK THIS LIST
# TOP TO BOTTOM

1. ()
2. **
3. +X, -X
4. +, /, //, %
5. +, -

In [28]:
print(10 - 4 * 2)

2

In [29]:
print((10 - 4) * 2)

12

# Python Namespace and Scope

What is Name in Python?
If you have ever read 'The Zen of Python' (type import this in the Python interpreter), the last line states, Namespaces are one honking great idea -- let's do more of those! So what are these mysterious namespaces? Let us first look at what name is.

Name (also called identifier) is simply a name given to objects. Everything in Python is an object. Name is a way to access the underlying object.

For example, when we do the assignment a = 2, 2 is an object stored in memory and a is the name we associate it with. We can get the address (in RAM) of some object through the built-in function id(). Let's look at how to use it.

In [30]:
# Note: You may get different values for the id

a = 2
print('id(2) =', id(2))

print('id(a) =', id(a))

id(2) = 2861305784656
id(a) = 2861305784656

In [31]:
# Note: You may get different values for the id

a = 2
print('id(a) =', id(a))

a = a+1
print('id(a) =', id(a))

print('id(3) =', id(3))

b = 2
print('id(b) =', id(b))
print('id(2) =', id(2))

id(a) = 2861305784656
id(a) = 2861305784688
id(3) = 2861305784688
id(b) = 2861305784656
id(2) = 2861305784656

In [33]:
a = 5
print(id(a))
a = 'Hello World!'
print(id(a))
a = [1,2,3]
print(id(a))

2861305784752
2861419564912
2861419083648