# STRING LITERALS
Single Line Literals

In [1]:
name1 = "Kiruthik Varshan"
name2 = 'Kumar'
name3 = "Kavitha"
print(name1, name2, name3)

Kiruthik Varshan Kumar Kavitha

# Multiline Literals

In [4]:
parah = """Father Name: Kumar
Mother Name: Kavitha
Son Name: Kiruthik Varshan"""
print(parah)

Father Name: Kumar
Mother Name: Kavitha
Son Name: Kiruthik Varshan

In [ ]:
Boolean Literals
True or False
a = True # true is a variable not a literals
a = 'True' # here True is a string

# BOOLEAN LITERALS

# SPECIAL LITERALS

In [11]:
drink = "Available"
food = None

def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)

menu(drink)
menu(food)

Available
None

# Literal Collections
There are four different literal collections List literals, Tuple literals, Dict literals, and Set literals.

In [12]:
fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'i', 'e', 'a', 'o', 'u'}

# PYTHON INPUT AND OUTPUT

PRINT()

In [6]:
print("I am Kumar")

I am Kumar

# PRINT VARIABLES

In [9]:
a = 5
b = "Hello"
print(a)
print(b)
print(a,b)

5
Hello
5 Hello

In [10]:
age = 25
name = "Kumar"

print("Age is :", age)
print("Name is:",name)

Age is : 25
Name is: Kumar

In [11]:
print("First line \n\n") # \n reprents end of line and start a new line
print("Second line")

First line


Second line

# INPUT VARIABLES

In [13]:
name = input("Enter Name :")
print("Hello", name)

Enter Name :kumar
Hello kumar

In [14]:
a = input("Enter Something: ")
print(a)

Enter Something: ff
ff

# PYHTON TYPE CONVERSION
1) IMPLICIT TYPE CONVERSION , 
2) EXPLICIT TYPE CONVERSION

# IMPLICIT TYPE CONVERSION

In [16]:
number_integer = 123
number_float = 1.23

sum = number_integer + number_float
print(sum)
print("Datatype of sum: ",type(sum))

124.23
Datatype of sum:  <class 'float'>

In [16]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

In [17]:
a = '555'
print(type(a))

<class 'str'>

# EXPLICIT TYPE CONVERSION

In [18]:
float_number = 1.734 # conver float to integer
integer_number = int(float_number)

print(integer_number)
print(type(integer_number))

1
<class 'int'>

In [20]:
a = '55' # it is string

integer_number = int(a) # convert string to int
float_number = float(a) # convert string to float

print(integer_number)
print(type(integer_number))
print(float_number)
print(type(float_number))

55
<class 'int'>
55.0
<class 'float'>

In [21]:
a = "Hello" # string letter cannot convert a intger

integer_number = int(a) # it is get a error

ValueError: invalid literal for int() with base 10: 'Hello'

# Python List
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

In [17]:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

# ARITHMATIC OPERATORS
+, -, *, /

In [18]:
#Lists are mutable, meaning, the value of elements of a list can be altered
a = [1, 2, 3]
a[2] = 4
print(a)

[1, 2, 4]

In [5]:
# + operators
a = 1
b = 2
c = 3.0
result = a + b + c  
print(result)

6.0

In [7]:
# Concatenate of Two Strings
first_name = "Kiruthik"
second_name = "Varshan"

name = first_name + ' ' + second_name
print(name)
print("Name :", name)

Kiruthik Varshan
Name : Kiruthik Varshan

In [8]:
# - operators

a = 12
b = 9

result = a - b
print(result)

3

In [9]:
a = 12.0
b = 9

result = a - b
print(result)

3.0

In [10]:
# * operators

a = 5
b = 14

result = a * b
print(result)

70

In [11]:
result = 1.4 * 5
print(result)

7.0

In [12]:
# multiply string

a = "foo"
b = a * 3
print(b)

foofoofoo

In [13]:
# / operators

a = 14
b = 3

result = a / b
print(result)

4.666666666666667

In [15]:
result = 14.5 / 5
print(result)

2.9

In [14]:
# // operators  ( see the difference this and above)

a = 14
b = 3

result = a // b
print(result)

4

In [16]:
result = 14.5 // 5
print(result)

2.0

In [17]:
# % operators

a = 13
b = 5

result = a % b
print(result)

3

In [18]:
a = 8
b = 2.5

result = a % b
print(result)

0.5

In [19]:
# ** operators

a = 2
b = 5

result = a ** b
print(result)

32

In [20]:
base = 2.5546
power = 6.5344
result = base ** power
print(result)

458.78668896944134

# ASSIGNMENT OPEARTORS

In [21]:
a = 5
name = "kumar"
print(a * name)

kumarkumarkumarkumarkumar

In [22]:
# = operators

x = 100
x = x + 5

print(x)

105

In [23]:
a,b,c = 5,3.2,'hello'
print(a)
print(b)
print(c)

5
3.2
hello

In [24]:
x = y = z = "kumar"
print(x)
print(y)
print(z)

kumar
kumar
kumar

# MORE ASSIGNMENT OPEARTORS
operator   example      equivalent to
   +=        x += 5        x = x+5
   -=        x -= 5        x = x-5
   *=        x *= 5        x = x*5
   /=        x /= 5        x = x/5
   %=        x %= 5        x = x%5
  //=        x //=5        x = x//5
  **=        x **=5        x = x**5

In [26]:
x = 10
x += 5  # X = X+5
print(x)

15

In [27]:
x = 10
x //= 4  # X = X//4
print(x)

2

# OPERATOR PRECEDENCE

In [28]:
print(10 - 4 * 2)

2

In [29]:
print((10 - 4) * 2)

12

In [ ]:
# OPERATOR PRECEDENCE LIST
# HERE HOW WORK THIS LIST
# TOP TO BOTTOM

1. ()
2. **
3. +X, -X
4. +, /, //, %
5. +, -

# BOOLEAN EXPRESSION

In [ ]:
# this is True or False statement
    True # here true not function # first letter must be a capital letter
    False # here false not function # first letter must be a capital letter

In [ ]:
# COMAPRISON OPERATORS
# > Greater then
# < Leaa then
# == Equal to
# != Not equal to
# >= Greater then or equal to
# <= Less then or equal to

In [30]:
x = 10
y = 12

print(x > y)       # False
print(x < y)       # True

print(x == y)      # False
print(x == 10)     # True

print(x != y)      # True
print(x != 10)     # False

print(x >= 10)     # True
print(x >= 20)     # False

print(x <= y)      # True
print(x <= 10)     # True

False
True
False
True
True
False
True
False
True
True

In [ ]:
# LOGICAL OPERATORS
and # both the operands are true
or  # either one of the operands is true
not # both the operands are false

In [31]:
# and operators

# examples
print(True and True)      # True
print(False and True)     # False
print(False and False)    # False

True
False
False

In [33]:
a, b, c = 1, 2, 3
print(b>a and c>a)    # True
print(c>a and c<0)    # False

True
False

In [38]:
# or operators

# examples
print(True or True)      # True
print(False or True)     # True
print(False or False)    # False

True
True
False

In [37]:
a = 1
b = 2
c = 3

print(b>a or c>a)      # True
print(c<0 or c>a)      # True
print(c==4 or b!=2)    # False

True
True
False

In [40]:
# not operators

# examples
print(not True)      # False
print(not False)     # True

False
True

In [ ]:
x = 5
print(not (x != 5))  # True