In [1]:
print("Hello World")

Hello World

# Keywords and Identifiers

In [2]:
# Python Keywords
import keyword
print(keyword.kwlist) # this keyword not to use string and others

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
# Python Identifiers
# Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z)
# or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.
# An identifier cannot start with a digit. 1variable is invalid, but variable1 is a valid name.
# Keywords cannot be used as identifiers
global = 1

SyntaxError: invalid syntax (Temp/ipykernel_9612/2390564868.py, line 6)

In [3]:
# We cannot use special symbols like !, @, #, $, % etc. in our identifier
a@ = 0

SyntaxError: invalid syntax (Temp/ipykernel_9612/4263778147.py, line 2)

# Python Statement, Indentation and Comments

Python Statement
Instructions that a Python interpreter can execute are called statements. For example, a = 1 is an assignment statement. if statement, for statement, while statement, etc. are other kinds of statements which will be discussed later.

In [7]:
# Multi-line statement
a = ['red',
     'blue',
     'green']
print(a)

['red', 'blue', 'green']

Python Indentation
A code block (body of a function, loop, etc.) starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

In [8]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [9]:
if True:
    print('Hello')
    a = 5

Hello

In [10]:
if True: print('Hello'); a = 5

Hello

Python Comments
Comments are very important while writing a program. They describe what is going on inside a program, so that a person looking at the source code does not have a hard time figuring it out.

You might forget the key details of the program you just wrote in a month's time. So taking the time to explain these concepts in the form of comments is always fruitful.

In [ ]:
#This is a comment
#print out Hello
print('Hello')

In [ ]:
# Multi-line comments

#This is a long comment
#and it extends
#to multiple lines

#or

"""This is also a
perfect example of
multi-line comments"""

Docstrings in Python
A docstring is short for documentation string.

Python docstrings (documentation strings) are the string literals that appear right after the definition of a function, method, class, or module.

In [11]:
def double(num):
    """Function to double the value"""
    return 2*num

In [12]:
def double(num):
    """Function to double the value"""
    return 2*num
print(double.__doc__)

Function to double the value

# Python Variables, Constants and Literals

PYTHON VARIABLES
a = 10
b = 1.1 these are variables

In [ ]:
a = 10
a = 1.5 # now a variable was changed

Assigning values to Variables in Python

As you can see from the above example, you can use the assignment operator = to assign a value to a variable.

In [13]:
# Declaring and assigning value to a variable
website = "apple.com"
print(website)

apple.com

In [14]:
# hanging the value of a variable
website = "apple.com"
print(website)

# assigning a new value to website
website = "programiz.com"

print(website)

apple.com
programiz.com

In [15]:
# Assigning multiple values to multiple variables
a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

In [16]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

Constants

A constant is a type of variable whose value cannot be changed. It is helpful to think of constants as containers that hold information which cannot be changed later.

# Assigning value to constant in Python

In Python, constants are usually declared and assigned in a module. Here, the module is a new file containing variables, functions, etc which is imported to the main file. Inside the module, constants are written in all capital letters and underscores separating the words.

Rules and Naming Convention for Variables and constants

Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_). For example:
snake_case
MACRO_CASE
camelCase
CapWords

Create a name that makes sense. For example, vowel makes more sense than v.

If you want to create a variable name having two words, use underscore to separate them. For example:
my_name
current_salary

Use capital letters possible to declare a constant. For example:
PI
G
MASS
SPEED_OF_LIGHT
TEMP

Never use special symbols like !, @, #, $, %, etc.

Don't start a variable name with a digit.

Literals

Literal is a raw data given in a variable or constant. In Python, there are various types of literals they are as follows:

Numeric Literals
Numeric Literals are immutable (unchangeable). Numeric literals can belong to 3 different numerical types: Integer, Float, and Complex.

In [22]:
# How to use Numeric literals in Python?
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

String literals

A string literal is a sequence of characters surrounded by quotes. We can use both single, double, or triple quotes for a string. And, a character literal is a single character surrounded by single or double quotes.

In [23]:
# How to use string literals in Python?
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
C
This is a multiline string with more than one line code.
Ünicöde
raw \n string

Boolean literals

A Boolean literal can have any of the two values: True or False.

In [24]:
# How to use boolean literals in Python?
x = (1 == True) # 1 reprents is True
y = (1 == False) # 0 reprents is False
a = True + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

Special literals

Python contains one special literal i.e. None. We use it to specify that the field has not been created.

In [25]:
# How to use special literals in Python?
drink = "Available"
food = None

def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)

menu(drink)
menu(food)

Available
None

Literal Collections

There are four different literal collections List literals, Tuple literals, Dict literals, and Set literals.

In [26]:
# How to use literals collections in Python?
fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'o', 'u', 'a', 'i', 'e'}

# STRING LITERALS
Single Line Literals

In [1]:
name1 = "Kiruthik Varshan"
name2 = 'Kumar'
name3 = "Kavitha"
print(name1, name2, name3)

Kiruthik Varshan Kumar Kavitha

# Multiline Literals

In [4]:
parah = """Father Name: Kumar
Mother Name: Kavitha
Son Name: Kiruthik Varshan"""
print(parah)

Father Name: Kumar
Mother Name: Kavitha
Son Name: Kiruthik Varshan

In [ ]:
Boolean Literals
True or False
a = True # true is a variable not a literals
a = 'True' # here True is a string

# BOOLEAN LITERALS

# SPECIAL LITERALS

In [11]:
drink = "Available"
food = None

def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)

menu(drink)
menu(food)

Available
None

# Literal Collections
There are four different literal collections List literals, Tuple literals, Dict literals, and Set literals.

In [12]:
fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'i', 'e', 'a', 'o', 'u'}

# PYTHON INPUT AND OUTPUT

PRINT()

In [6]:
print("I am Kumar")

I am Kumar

# PRINT VARIABLES

In [9]:
a = 5
b = "Hello"
print(a)
print(b)
print(a,b)

5
Hello
5 Hello

In [10]:
age = 25
name = "Kumar"

print("Age is :", age)
print("Name is:",name)

Age is : 25
Name is: Kumar

In [11]:
print("First line \n\n") # \n reprents end of line and start a new line
print("Second line")

First line


Second line

# INPUT VARIABLES

In [13]:
name = input("Enter Name :")
print("Hello", name)

Enter Name :kumar
Hello kumar

In [14]:
a = input("Enter Something: ")
print(a)

Enter Something: ff
ff

# PYHTON TYPE CONVERSION
1) IMPLICIT TYPE CONVERSION , 
2) EXPLICIT TYPE CONVERSION

# IMPLICIT TYPE CONVERSION

In [16]:
number_integer = 123
number_float = 1.23

sum = number_integer + number_float
print(sum)
print("Datatype of sum: ",type(sum))

124.23
Datatype of sum:  <class 'float'>

In [16]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

In [17]:
a = '555'
print(type(a))

<class 'str'>

# EXPLICIT TYPE CONVERSION

In [18]:
float_number = 1.734 # conver float to integer
integer_number = int(float_number)

print(integer_number)
print(type(integer_number))

1
<class 'int'>

In [20]:
a = '55' # it is string

integer_number = int(a) # convert string to int
float_number = float(a) # convert string to float

print(integer_number)
print(type(integer_number))
print(float_number)
print(type(float_number))

55
<class 'int'>
55.0
<class 'float'>

In [21]:
a = "Hello" # string letter cannot convert a intger

integer_number = int(a) # it is get a error

ValueError: invalid literal for int() with base 10: 'Hello'

# Python List
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

In [17]:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

# ARITHMATIC OPERATORS
+, -, *, /

In [18]:
#Lists are mutable, meaning, the value of elements of a list can be altered
a = [1, 2, 3]
a[2] = 4
print(a)

[1, 2, 4]

In [5]:
# + operators
a = 1
b = 2
c = 3.0
result = a + b + c  
print(result)

6.0

In [7]:
# Concatenate of Two Strings
first_name = "Kiruthik"
second_name = "Varshan"

name = first_name + ' ' + second_name
print(name)
print("Name :", name)

Kiruthik Varshan
Name : Kiruthik Varshan

In [8]:
# - operators

a = 12
b = 9

result = a - b
print(result)

3

In [9]:
a = 12.0
b = 9

result = a - b
print(result)

3.0

In [10]:
# * operators

a = 5
b = 14

result = a * b
print(result)

70

In [11]:
result = 1.4 * 5
print(result)

7.0

In [12]:
# multiply string

a = "foo"
b = a * 3
print(b)

foofoofoo

In [13]:
# / operators

a = 14
b = 3

result = a / b
print(result)

4.666666666666667

In [15]:
result = 14.5 / 5
print(result)

2.9

In [14]:
# // operators  ( see the difference this and above)

a = 14
b = 3

result = a // b
print(result)

4

In [16]:
result = 14.5 // 5
print(result)

2.0

In [17]:
# % operators

a = 13
b = 5

result = a % b
print(result)

3

In [18]:
a = 8
b = 2.5

result = a % b
print(result)

0.5

In [19]:
# ** operators

a = 2
b = 5

result = a ** b
print(result)

32

In [20]:
base = 2.5546
power = 6.5344
result = base ** power
print(result)

458.78668896944134

# ASSIGNMENT OPEARTORS

In [21]:
a = 5
name = "kumar"
print(a * name)

kumarkumarkumarkumarkumar

In [22]:
# = operators

x = 100
x = x + 5

print(x)

105

In [23]:
a,b,c = 5,3.2,'hello'
print(a)
print(b)
print(c)

5
3.2
hello

In [24]:
x = y = z = "kumar"
print(x)
print(y)
print(z)

kumar
kumar
kumar

# MORE ASSIGNMENT OPEARTORS
operator   example      equivalent to
   +=        x += 5        x = x+5
   -=        x -= 5        x = x-5
   *=        x *= 5        x = x*5
   /=        x /= 5        x = x/5
   %=        x %= 5        x = x%5
  //=        x //=5        x = x//5
  **=        x **=5        x = x**5

In [26]:
x = 10
x += 5  # X = X+5
print(x)

15

In [27]:
x = 10
x //= 4  # X = X//4
print(x)

2

# OPERATOR PRECEDENCE

In [28]:
print(10 - 4 * 2)

2

In [29]:
print((10 - 4) * 2)

12

In [ ]:
# OPERATOR PRECEDENCE LIST
# HERE HOW WORK THIS LIST
# TOP TO BOTTOM

1. ()
2. **
3. +X, -X
4. +, /, //, %
5. +, -

# BOOLEAN EXPRESSION

In [ ]:
# this is True or False statement
    True # here true not function # first letter must be a capital letter
    False # here false not function # first letter must be a capital letter

In [ ]:
# COMAPRISON OPERATORS
# > Greater then
# < Leaa then
# == Equal to
# != Not equal to
# >= Greater then or equal to
# <= Less then or equal to

In [30]:
x = 10
y = 12

print(x > y)       # False
print(x < y)       # True

print(x == y)      # False
print(x == 10)     # True

print(x != y)      # True
print(x != 10)     # False

print(x >= 10)     # True
print(x >= 20)     # False

print(x <= y)      # True
print(x <= 10)     # True

False
True
False
True
True
False
True
False
True
True

In [ ]:
# LOGICAL OPERATORS
and # both the operands are true
or  # either one of the operands is true
not # both the operands are false

In [31]:
# and operators

# examples
print(True and True)      # True
print(False and True)     # False
print(False and False)    # False

True
False
False

In [33]:
a, b, c = 1, 2, 3
print(b>a and c>a)    # True
print(c>a and c<0)    # False

True
False

In [38]:
# or operators

# examples
print(True or True)      # True
print(False or True)     # True
print(False or False)    # False

True
True
False

In [37]:
a = 1
b = 2
c = 3

print(b>a or c>a)      # True
print(c<0 or c>a)      # True
print(c==4 or b!=2)    # False

True
True
False

In [40]:
# not operators

# examples
print(not True)      # False
print(not False)     # True

False
True

In [ ]:
x = 5
print(not (x != 5))  # True